.useredit__container
  .useredit__container-box
    .useredit__container-menu
      %ul.useredit__container-menu-ul
        %li.useredit__container-menu-li.useredit__container-menu-li-active
          = link_to "プロフィール設定","javascript:void(0)",class: "useredit__container-menu-li-text"
        %li.useredit__container-menu-li
          = link_to "個人情報","javascript:void(0)",class: "useredit__container-menu-li-text"
        %li.useredit__container-menu-li
          = link_to "アカウント設定","javascript:void(0)",class: "useredit__container-menu-li-text"
        %li.useredit__container-menu-li
          = link_to "パスワード設定","javascript:void(0)",class: "useredit__container-menu-li-text"
    .useredit__container-main
      .useredit__container-main-box
      = form_for(current_user, html: {class: "useredit__container-form"}) do |f|
        .useredit__container-form-list
          .useredit__container-form-list-profile
            %h3.useredit__container-form-title 名前
            = f.text_field :f_name, placeholder: "性", required: :required, class: "useredit__container-form-text"
            = f.text_field :l_name, placeholder: "名", required: :required, class: "useredit__container-form-text"
            .useredit__container-form-list-avatar
              .useredit__container-form-avatar-box
                %h3.useredit__container-form-title プロフィール写真
                .useredit__container-form-avatar-imgbox
                  = image_tag(current_user.avatar,class: "useredit__container-form-avatar-imgbox-img")
                .useredit__container-form-avatar-text
                  顔写真は旅行者がお互いを知るためにとても重要な要素です。あなたのことがはっきりわかる、最高のプロフィール写真を選びましょう！
                .useredit__container-form-avatar-file
                  = f.file_field :avatar,id: "avatar_image"
            %h3.useredit__container-form-title 性別
            %label
              = f.radio_button(:gender, "male" , :checked => @user.gender == "male" )
              男性
            %label
              = f.radio_button(:gender, "female" , :checked => @user.gender == "female" )
              女性
            %h3.useredit__container-form-title 誕生日
            = raw sprintf(f.date_select(:birthday, use_month_numbers: true, start_year: 1916, end_year:(Time.now.year), include_blank: true , date_separator:'%s' ),'年 ', '月 ') + '日'
            %h3.useredit__container-form-title 自己紹介
            = f.text_area :profile, placeholder: "好きにいれてね。", class: "useredit__container-form-text_profile"
          .useredit__container-form-list-private.display-none
            %h3.useredit__container-form-title 住所（都道府県）
            = f.text_field :address_pref, class: "useredit__container-form-text"
            %h3.useredit__container-form-title 住所（市区町村）
            = f.text_field :address_details, class: "useredit__container-form-text"
            %h3.useredit__container-form-title Tel
            = f.text_field :tel, class: "useredit__container-form-text"
          .useredit__container-form-list-account.display-none
            %h3.useredit__container-form-title メールアドレス
            = f.email_field :email, placeholder: "メールアドレス", required: :required, class: "useredit__container-form-text"
          .useredit__container-form-list-password.display-none
            %h3.useredit__container-form-title パスワード
            = f.password_field :password, placeholder: "パスワード(変更する場合のみ)", autocomplete: "off",class: "useredit__container-form-text"
            = f.password_field :password_confirmation, placeholder: "パスワードを再入力(変更する場合のみ)", autocomplete: "off", class: "useredit__container-form-text"
        .useredit__container-form-list-submit
          = f.submit "保存する", class: "useredit__container-form-list-submit-btn"
