%header
  .header-container
    %h1.header-logo
      = link_to image_tag("wide_s.png",class: "header-logo"),root_path
    %nav.header-nav
      .header-nav-search
        = form_tag(search_path, method: :post, class: "header-nav-search-form") do
          = text_field_tag :text, "", class: "header-nav-search-input", placeholder: "旅を探そう！"
          .header-nav-search-box.display-none
            .header-nav-search-date
              %label.header-nav-search-date-label
                開催日
              = text_field_tag 'start_date', "", class: "header-nav-search-date-start-input", placeholder: "年/月/日"
              %span
                から
              = text_field_tag 'end_date',"" ,class: "header-nav-search-date-end-input", placeholder: "年/月/日"
            = submit_tag "検索", class: "header-nav-search-btn"
      %ul.header-nav-menu-ul
        %li.header-nav-menu-li
          %ul.header-nav-menu-dropdown-ul.display-none
            %li.header-nav-menu-dropdown-li
              = link_to "プロフィール", user_path(current_user.id), class: "header-nav-menu-dropdown-li-text"
            %li.header-nav-menu-dropdown-li
              = link_to "設定", edit_user_path(current_user.id), class: "header-nav-menu-dropdown-li-text"
            %li.header-nav-menu-dropdown-li
              = link_to "ログアウト", "#{destroy_user_session_path}", method: :delete, class: "header-nav-menu-dropdown-li-text"
          .header-nav-avatar
            = link_to image_tag(current_user.avatar, class: "header-nav-avatar-img")," javascript:void(0)", id: "js-navbar-dropdown"
          %span.header-nav-avatar-span ▼
      = link_to "企画を作成", new_event_path, class: "header-nav-event"
      = link_to image_tag("https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", height: "36px", border: "0", alt: "友達追加"), "https://line.me/R/ti/p/%40fjd4227a"
  = render 'layouts/messages'
