.signup__container
  = devise_error_messages!
  .signup__container-bg
    .signup__container-main
      %a.signup__container-logo
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "signup__container-form"}) do |f|
        %h1.signup__container-form-catchcopy アカウント登録して旅に出よう!
        .signup__container-form-list
          = f.text_field :f_name, placeholder: "性", required: :required, class: "signup__container-form-input"
          %span.signup__container-form-info 苗字をローマ字で入力してください。
        .signup__container-form-list
          = f.text_field :l_name, placeholder: "名", required: :required, class: "signup__container-form-input"
          %span.signup__container-form-info 名前をローマ字で入力してください。
        .signup__container-form-list
          = f.email_field :email, placeholder: "メールアドレス(PCメール推奨)", required: :required, class: "signup__container-form-input"
          %span.signup__container-form-info メールアドレスを入力してください。
        .signup__container-form-list
          = f.password_field :password, placeholder: "パスワード", autocomplete: "off", class: "signup__container-form-input"
        .signup__container-form-list
          = f.password_field :password_confirmation, placeholder: "パスワード確認", autocomplete: "off", class: "signup__container-form-input"
        .signup__container-form-btn
          = f.submit "アカウントを作成",class: "signup__container-form-btn"
      = render "devise/shared/links"
