- if user_signed_in?
  .top__container
    .top__container-banner
      .top__container-banner-box
        - @nav_event_list.each do |ev|
          = link_to(event_path(ev.id),class: "top__container-banner-campaign-main") do
            .top__container-banner-campaign-main-img{style: "background-image:url(#{asset_path ev.image});"}
              .top__container-banner-campaign-main-title
                = ev.title
  .top__container-nav
    .top__container-banner-campaign-list
      - @nav_event_list.each do |ev|
        .top__container-banner-campaign-sub{style: "background-image:url(#{asset_path ev.image});"}
          = link_to "#{ev.title}", "javascript:void(0)", class: "top__container-banner-campaign-sub-title"
    .top__container-banner-campaign-list-text
      締め切り間近の企画
  .top__container-events
    .event__container-headline
      企画一覧
    .event__container-nav
      .event__container-sort
        %span.event__container-sort-now
          = @sort_now
          %span
            ▼
        .event__container-sort-dropdown
          %ul.event__container-sort-dropdown-items.display-none
            %li.event__container-sort-dropdown-item
              = link_to "新着順", events_path(sort: "new")
            %li.event__container-sort-dropdown-item
              = link_to "開催日", events_path(sort: "start_date")
    .event__container
      = render partial: "layouts/event_tile", collection: @events, as: :event
    .event__container-event-more
      - if @sort_now == "新着順"
        = link_to_next_page @events, 'もっとみる', :param_name => :new , :remote => true, class: "event__container-event-more-btn"
      - elsif @sort_now == "開催日"
        = link_to_next_page @events, 'もっとみる', :param_name => :start_date , :remote => true, class: "event__container-event-more-btn"
- else
  = render "layouts/welcome"
  .top__container-events
    .event__container
      = render partial: "layouts/event_tile", collection: @events, as: :event
    .event__container-event-more
      = link_to_next_page @events, 'もっとみる', :param_name => :new , :remote => true, class: "event__container-event-more-btn"